*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: darkslategray;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    color: white;
}

nav {
    float: left;
    width: 30%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: gray;
    text-align: center;
}

li a {
    display: block;
    color: #000;
    padding: 10px 19px;
    text-decoration: none;
}

li a.active {
    background-color: #9a1100;
    color: white;
}

li a:hover:not(.active) {
    background-color: darkslategrey;
    color: white;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: lightblue;
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

.err {
    color: red;
    border-style: none;
    border-color: red;
}

img {
    max-width: 100%;
    height: auto;
}
article img.top{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
article img.mid{
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
article h1.animation{
    text-align: center;
}
div.animation{
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: disc;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes disc {
    0%   {left:0px; top:0px; transform:rotate(0deg);}
    25%  {left: 80% ; top:0px;}
    50%  {left: 80%; top:300px;}
    75%  {left:0px; top:300px;}
    100% {left:0px; top:0px; transform:rotate(360deg);}
}
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
    div.w3-half, div.w3-container {

        width: 100%;
        height: auto;
        text-align: center;
    }
}
@media (max-width: 900px){

    div.w3-half, div.w3-container {
        width: 100%;
        text-align: center;
    }
}